<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>智能对话_DialogBot_三色云实验室</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="智能对话"/>
    <meta name="description" content="智能对话,对话机器人"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/logo.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<h1>Dialog Bot Example</h1>
<h3>A web implementation of <a href="https://github.com/shibing624/dialogbot">dialogbot</a> using Flask.</h3>
<p class="text-center">智能对话 &copy;2018-2019 | Powered by xuming</p>
<div>
    <div>
        <div id="chatbox">
            <p class="botText"><span>你好，我是对话机器人.</span></p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Message">
            <input id="buttonInput" type="submit" value="Send">
        </div>

    </div>
</div>
</body>
<script>
    function getBotResponse() {
        var rawText = $("#textInput").val();
        var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
        $("#textInput").val("");
        $("#chatbox").append(userHtml);
        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        $.get("/get", {msg: rawText}).done(function (data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        });
    }
    $("#textInput").keypress(function (e) {
        if (e.which == 13) {
            getBotResponse();
        }
    });
    $("#buttonInput").click(function () {
        getBotResponse();
    })
</script>

<!--baidu tongji-->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?be0925e18fc6c267d9b932d422e62f1e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</html>
